@charset "utf-8";

/* state-------------------------------------- */

.state {
    background-color: #fff;
    padding-top: 5rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.state-head {
    text-align: center;
}

.state-body, .state-foot {
    margin-top: 3rem;
}

.state-title {
    font-size: 2rem;
    font-weight: 600;
}

.state-desc {
    margin-top: 1rem;
    color: rgba(0,0,0,.7);
}

.state-img {
    width: 100%;
    height: auto;
}

.state-ul {
    display: flex;
    justify-content: center;
}

.state-li {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.state-li + .state-li {
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.stare-number, .state-unit, .state-term, .state-tips {
    display: block;
}

.state-number,
.state-unit,
.state-term {
    color: #3eb5fe;
}

.state-li:nth-child(even) .state-number,
.state-li:nth-child(even) .state-unit,
.state-li:nth-child(even) .state-term {
    color: #33d8ab;
}

.state-number,
.state-unit,
.state-term {
    font-weight: 600;
}

.state-unit, .state-term {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.state-number {
    font-size: 5rem;
}

.state-unit {
    font-size: 1.5rem;
}

.state-term {
    font-size: 2rem;
}

.state-tips {
    color: rgba(0, 0, 0, .7);
}


/* evn--------------------------------- */

.evn {
    display: flex;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.evn-head {
    width: 33.33333%;
}

.evn-body {
    width: 66.66666%;
}

.evn-title {
    font-size: 2rem;
    font-weight: auto;
}

.evn-img {
    max-width: 100%;
    height: auto;
}

.evn-desc {
    margin-top: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: rgba(0, 0, 0, .7);
}