@charset "utf-8";

/* 所有網頁公用設定 ------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, 微軟正黑體, sans-serif;
}

img {
    vertical-align: bottom;
}


/* helper ---------------------------------------------- */

.container {
    max-width: 1200px;
    box-sizing: border-box;
}

.container-md {
    max-width: 800px;
    box-sizing: border-box;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

/* Header ---------------------------------------------- */

.header {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
}


.header-foot, .header-btn-xmark {
    display: none;
}

.header-head {
    width: 80px;
}

.header-head, .header-body, .header-foot {
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.header-ul {
    display: flex;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 30px;
}

.header-li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    transition-duration: .3s;
}

.header-link:hover {
    color: #cf7688;
}

.header-img {
    max-width: 100%;
    height: auto;
}

/* Banner -------------------------------------- */

.banner {
    color: #fff;
    background-image: linear-gradient(135deg, #cf7688 20%, #f5ba54 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100% );
}

.banner-container {
    display: flex;
    align-items: center;
}

.banner-head, .banner-body {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.banner-index .banner-head,
.banner-index .banner-body {
    padding-top: 3rem;
}

.banner-index .banner-head {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.banner-index .banner-body {
    position: relative;
    width: 60%;
}

.banner-title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

/* (service */
.banner-title-line {
position: relative;
}

.banner-title-line::after {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 1.5em;
    border-top: solid 4px rgba(255, 255, 255, .5);
    content: "";
}
/* service) */

.banner-small {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: .5rem;
    display: block;
}

.banner-subTitle {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, .7);
}

.banner-ul {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, .3);
    margin-bottom: 4rem;
}

.banner-ul-order1 {order: -1;}

.banner-li + .banner-li {
    margin-left: 1rem;
}

.banner-desc {
    line-height: 1rem;
}

/* (service */
.banner-desc + .banner-desc {
    margin-top: 1rem;
}

.banner-desc-lg {
    font-size: 1.5rem;
    line-height: 1.3;
}
/* service) */

.banner-btns {
    margin-top: 2rem;
}

.banner-btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 2px #fff;
    padding: 1rem 3rem;
    border-radius: 5px;
    transition-duration: .3s;
    display: inline-block;
}

.banner-btn:hover {
    background-color: rgba(255, 255, 255, .5);
}

.banner-img {
    max-width: 100%;
    height: auto;
}

.banner-img-mobile,
.banner-img-pad {
    position: absolute;
}


.banner-img-desktop {
    margin-left: 4.5rem;
}

.banner-img-mobile {
    z-index: 1;
    left: 0;
    bottom: 5rem;
}

.banner-img-pad {
    bottom: -2rem;
    right: 1rem;
}

/* (service */
.banner-img-fit {
    height: 400px;
    object-fit: cover;
}
/* service) */








/* .banner-head {
    background-color: paleturquoise;
}
.banner-body {
    background-color: rgb(237, 238, 175);
} */




/* footer --------------------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #666;
    padding: 7rem 1rem 1rem;
    align-items: flex-end;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.footer-img-logo {
    max-width: 40px;
    height: auto;
    margin-bottom: .7rem;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    transition-duration: .3s;
}

.footer-link:hover {
    color: #cf7688;
}

.footer-desc {
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase;
}

.footer-ul {
    display: flex;
}

.footer-li {
    margin-left: 1rem;
}


/* aside----------------------------------------------------- */
.aside {
    z-index: 10;
    position: fixed;
    right: 1rem;
    bottom: 15rem;
}

.aside-link {
    color: rgba(0, 0, 0, .2);
    transition-duration: .3s;
}

.aside-link:hover{
    color: rgba(0, 0, 0, .5);
}

.aside-link-top {
    font-size: 3rem;
}


/* addClass----------------------------------------------- */
.we-no-scroll {
    overflow: hidden;
}


/* RWD----------------------------------------- */

@media screen and (max-width: 480px) {

    /* header--- */

    .header {
        background-color: rgba(255, 255, 255, .7);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
        z-index: 20;
    }

    .header-body {
        display: none;
    }

    .header-foot {
        display: block;
    }

    .header-img-logo {
        opacity: .5;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }

    .header-ul {
        flex-direction: column;
        background-color: transparent;
    }

    .header-link {
        display: block;
        padding: .7rem 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .header-btn {
        padding: 0;
        font-size: 2rem;
        border: none;
        background-color: transparent;
    }

    .header-btn-bars {
        color: rgba(0, 0, 0, .5);
    }

    .header-btn-xmark {
        display: block;
        position: absolute;
        top: .75rem;
        right: 1rem;
        color: #9e9e9e;
    }


    /* banner--- */

    .banner {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-head, .banner-body,
    .banner-index .banner-head,
    .banner-index .banner-body {
        width: 100%;
    }

    .banner-head,
    .banner-index .banner-head {
        padding-top: 5rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .banner-body {
        padding-left: 0;
        padding-right: 0;
    }

    .banner-index .banner-body {
        padding-top: 1rem;
    }

    .banner-title {
        font-size: 7vw;
    }

    .banner-title-line::after {
        left: 50%;
        margin-left: -1.5rem;
    }

    .banner-service .banner-img,
    .banner-about .banner-img {
        object-position: center;
    }

    .banner-small {
        font-size: 5vw;
    }

    .banner-ul {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .banner-img-mobile {
        width: 40vw;
        bottom: 2.5rem;
    }

    .banner-img-desktop {
        width: 70vw;
        margin-left: 10vw;
    }

    .banner-img-pad {
        width: 60vw;
    }


    /* footer--- */
    .footer {
        padding-top: 1rem;
        clip-path: none;
    }
    
    .footer-head {
        width: 100%;
        text-align: center;
    }

    .footer-body {
        display: none;
    }
}